.wrapper{
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    font-size: 30px;
}

.insert{
    font-size: 50px;
    padding: 20px 30px;
    border-radius: 6px;
}

.insertWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GroupWrapper{
    margin: 100px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px; 
}

.group{
    border: 1px solid gray;
    width: 100%;
    min-height: 50vh;
}

.element{
    border: 1px solid gray;
    background-color: lightcyan;
    color: black;
}